<!-- <div class="error-dialog-container" [ngClass]="data.type || 'error'">
    <div class="dialog-header">
      <div class="header-icon">
        <mat-icon>{{ dialogIcon }}</mat-icon>
      </div>
      <h2 class="dialog-title">{{ dialogTitle }}</h2>
    </div>
    
    <div class="dialog-content">
      <p class="error-message">{{ data.message }}</p>
    </div>
    
    <div class="dialog-actions">
      <button 
        mat-flat-button 
        [color]="data.type === 'error' ? 'warn' : 'primary'"
        class="confirm-button" 
        (click)="close()">
        close
      </button>
    </div>
  </div> -->
  <div class="error-dialog-container" [ngClass]="data.type || 'error'">
    <div class="dialog-header">
      <div class="header-icon">
        <mat-icon>{{ dialogIcon }}</mat-icon>
      </div>
      <h2 class="dialog-title">{{ dialogTitle }}</h2>
    </div>
    
    <div class="dialog-content">
      <p class="error-message">{{ data.message }}</p>
    </div>
    
    <div class="dialog-actions">
      <button 
        class="close-button" 
        (click)="close()">
        <span>cancel</span>
      </button>
    </div>
  </div>

